body {
    background-color: #1c1c1c;
}

.main {
    display: flex;
    /* border: 1px solid yellow; */
    width: 100vw;
    height: 100vh;
}

.main-dashboard {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(255, 0, 0); */
    width: 100%;
    height: 100%;
    padding: 10px 30px 15px;
    gap: 15px;
}

.navmain {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 100%;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
}

.navmain h3 {
    display: flex;
    text-wrap: nowrap;
    gap: 10px;
}

.navmain-input {
    display: flex;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 7px;
    height: 40px;
    padding: 5px 10px;
    width: 100%;
    max-width: 500px;
    align-items: center;
}

.navmain-input input {
    background: none;
    border: none;
    outline: none;
    color: white;
}

.navmain-input input::placeholder {
    color: gray
}

.navmain-input img {
    width: 20px;
    filter: invert(100%)
}

.side-profile {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    width: 100%;
    max-width: 400px;
    background-color: #31353C;
    gap: 30px;
    border-image: linear-gradient(to bottom, #2c8c8f 0%, #3a4ed5 100%) 1;
    border-style: solid;
    border-width: 2px;
    border-right: none;
    border-bottom: none;
    border-top: none;
}

.side-profile-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 30px;
    background-color: #34405B;
    border-radius: 15px;
    gap: 15px;
}

.side-profile-username {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.user-avatar-sm {
    border-radius: 30px;
    width: 65px;
    border: 2px solid rgb(255, 255, 255);
}

.side-profile-info {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
}

.side-profile-loc {
    display: flex;
    height: 20px;
    /* border: 1px solid yellow; */
}

.side-profile-p {
    display: flex;
}

.side-profile-p img {
    align-self: center;
}

.side-profile-info-2 {
    display: flex;
    justify-content: space-between;
}

.side-profile-info-2-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-calendar {
    border-radius: 10px;
    text-align: center;
}

.side-calendar-header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 10px;
    gap: 30px;
}

.side-calendar-header h3 {
    font-size: 18px;
    font-weight: bold;
}

.side-calendar-header p {
    font-size: 14px;
    color: #ababab;
}

.side-calendar-add-reminder {
    text-decoration: none;
    font-size: 14px;
}

.side-calendar-days {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}

.side-calendar-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 10px;
    gap: 10px;
    padding: 8px;
    letter-spacing: 1px;
}

.side-calendar-day:hover {
    background-color: #1e252e;
    border-radius: 5px;
}

.side-profile-upcoming {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-profile-upcoming-items {
    display: flex;
    flex-direction: column;
}

.side-profile-upcoming-item {
    display: flex;
    width: 100%;
    max-width: 180px;
    gap: 10px;
    padding: 10px;
}

.side-profile-upcoming-item-img {
    display: flex;
    background-color: #47695c;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 36px;
    width: 36px;
}

.side-profile-upcoming-item-text {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    gap: 2px;
}

.side-profile-footer {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #1e252e;
    border-radius: 20px;
}

.main-hr {
    border: 1px solid rgb(102, 102, 102);
}

.main-dashboard-banner {
    display: flex;
    background: linear-gradient(to right, #1A77BA, #19b677);
    height: 140px;
    width: 100%;
    border-radius: 10px;
    padding: 10px 40px;
    justify-content: space-between;
}

.main-dashboard-banner-text {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: 0.5px;
}

.main-dashboard-banner-text p {
    font-size: 12px;
}

.dashboard-grid {
    display: grid;
    height: 100%;
    border-radius: 10px;
    gap: 15px;
}

.dashboard-grid-item {
    border-radius: 10px;
    background-color: #3b3b3b;
    padding: 10px;
}

.grid-item-1 {
    grid-column: 1 / span 3;
}

.grid-item-2 {
    grid-column: 1 / span 2;
}