

.reg-log {
    display: flex;
    width: 100vw;
    height: 100%;
}

.reg-log-img {
    /* border: 1px solid red; */
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../imgs/reg-log.gif');
}

.reg-log-main {
    display: flex;
    /* background-color: white; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 50%;
    background-color: #0c0c0c;
}

.reg-log-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    height: 80%;
    width: 75%;
    gap: 40px;
}

.reg-log-main-content-forms {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* width: 100%; */
}

.reg-log-main-start-date {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color-scheme: dark;
    /* border: 1px solid red; */
}

.reg-log-main-start-date input {
    width: 100%;
}

.reg-log-main-per-week {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.reg-log-ul:focus {
    border: 1px solid red;
}

.reg-log-btns {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.reg-log-btn {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 30px;
    /* font-weight: bold; */
    font-size: larger;
    width: 160px;
}

.reg-log-btn:hover {
    border: 1px solid rgb(76, 180, 73);
}

.reg-log-main-ul {
    border: 2px solid rgb(80, 80, 80);
    border-radius: 15px;
    overflow: hidden;
    
}

.reg-log-ul {
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    color: rgb(163, 163, 163);
    width: 100%;
    border-radius: 10px;
    height: 400px;
    overflow-y: scroll;
}

.reg-log-ul::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(46, 46, 46);
}

.reg-log-ul::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.342);
}

.reg-log-ul li {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 5px 10px;
    font-size: medium;
    padding: 5px 10px;
    letter-spacing: 2px;
}

.reg-log-ul li:hover {
    cursor: pointer;
    background-color: rgb(56, 56, 56);
    color: rgb(207, 207, 207);
}

.reg-log-ul li:focus {
    background-color: rgb(77, 77, 77);
    color: rgb(255, 255, 255);
}

.reg-log-checkbox {
    display: flex;
    align-items: center;
    gap: 20px;
}

.reg-log-check {
    width: 30px;
}

.login-btn {
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    max-width: 300px;
    
}

.login-btn:hover {
    background: rgb(8, 8, 8);
    border: 1px solid rgb(94, 199, 108);
}

h1, p {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    color: grey;
    font-size: medium;
}

input {
    background-color: rgb(27, 27, 27);
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgb(80, 80, 80);
    padding: 2px 10px;
    color: rgb(163, 163, 163);
    font-size: medium;
    max-width: 600px;
}

::-ms-reveal {
    filter: invert(100%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(27, 27, 27) inset !important;
    -webkit-text-fill-color: rgb(163, 163, 163);
}

.reg-log-main-content-form-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.reg-log-main-content-form-input input::placeholder {
    opacity: 0.5;
}

.reg-log-span {
    text-decoration: underline;
    color: rgb(125, 138, 255);
}

.reg-log-span:hover {
    cursor: pointer;
}
